body {
  /* Change to something you like, but please do customize the font! */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.4;
  background-color: rgb(255, 131, 193);
}


main {
 display:grid;

grid-template-areas: 
'hero      hero    hero'
'info      info    jump_menu'
'cyoa      words1  jump_menu'
'garden    words2  jump_menu';
}


h1 {
  display:flex;
  justify-content: center;
  font-family: "Comic Sans MS";
  font-size: xxx-large;
  grid-area: hero;
}

.info{
  grid-area:info;
}
.side_menu{
  grid-area:jump_menu;
}

.cyoa{
  grid-area:cyoa;
}

.words1{
  grid-area:words1;
}

.garden{
  grid-area:garden;
}
.words2{
  grid-area:words2;
}




.pan_pink {
  background-color: #F62089
}

.yellow {
  background-color: #F7D100
}

.blue {
  background-color: #21ABF7
}

.pink {
  background-color: rgb(255, 131, 193);
  color: #F62089
}

/*  ok,so. do the grid-template-areas thing where you can make the boxes out of words. 
make boxes with grid-area: thingy and then "thingy" will be the box you want
then do something like 

hero      hero    hero
info      info    jump_menu
cyoa      words1  jump_menu
garden    words2  jump_menu

and it'll work like magic and you'll have boxes. and you can space the margins
in percentages so that it shrinks and grows better. yippee!
*/